/* Responsive Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 991px) {
    .team .row>div {
        padding: 0 5px;
    }
    .mfp-wrap .img_wrap.vertical .work_pic {
        height: 75vh;
        left: 16%;
        transform: translate(-15%, -17%);
    }
}

@media only screen and (max-width: 820px) {
    .mfp-wrap .img_wrap.vertical .work_pic {
        height: 64vh;
        left: 12%;
        transform: translate(-15%, -8%);
    }
}

@media only screen and (max-width: 768px) {
    .particles-intro.inline {
        left: 47%;
        transform: translate(-50%, 50%);
        width: 437px;
        white-space: nowrap;
    }
    .particles-home {
        background-position: 50% 55%;
        background-size: 180px;
        background-image: url(../../images/abt_logo.png);
    }
}

@media only screen and (max-width: 767px) {
    .three_dots_wrapper {
        bottom: -70px;
    }
    .work {
        margin: 70px 0 140px;
    }
    .svg_rock {
        max-width: 70px;
        margin-top: -50px;
    }
    .navbar {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .navbar-toggle {
        padding: 10px;
        margin-top: 5px;
        /* border: 2px solid transparent; */
        border-radius: 0;
        transition: all 0.2s ease 0s;
    }
    .is-sticky .navbar-toggle {
        margin-top: 11px;
    }
    .navbar-toggle .icon-bar {
        width: 24px;
        height: 2px;
        border-radius: 0;
    }
    /* .navbar-default .navbar-toggle .icon-bar {
        background-color: #555;
    } */
    .navbar-default .navbar-toggle.collapsed {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        background-color: #ddd;
    }
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #e51451;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-nav>li>a {
        padding-left: 0;
    }
    .nav li .contact-menu {
        left: 15px;
        right: initial;
    }
    .home-blog-content img {
        width: 100%;
    }
    .service-one-bottom {
        border-right: none;
    }
    .relat-project img,
    .blog-content img {
        width: 100%;
    }
    .about-contact .row>div {
        margin-bottom: 35px;
    }
    .about-img.t_center img {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .mfp-wrap .get_detail {
        margin-top: 20px;
    }
    .mfp-wrap .img_wrap.vertical .work_pic {
        width: 100%;
        height: auto;
        transform: none;
        left: 0;
    }
    .mfp-wrap .img_wrap .work_pic {
        transform: none;
        left: 0;
    }
    .mfp-wrap .img_wrap {
        height: auto;
        position: relative;
    }
    .mfp-content {
        vertical-align: top;
    }
    .mfp-arrow {
        margin-top: -80px;
        width: 50px;
    }
    .mfp-wrap {
        /* overflow-x: hidden; */
    }
    .mfp-arrow-right {
        right: -10px;
    }
    .mfp-arrow-left {
        left: -10px;
    }
    .mfp-wrap .work_frame {
        display: none;
        width: 100%;
        background-position: center bottom;
    }
    .particles-home {
        /* height: 500px; */
        height: 100vh;
    }
    .slider-image-one,
    .slider-image-two,
    .slider-image-three {
        min-height: 500px;
    }
    .image-home,
    .typed-home,
    .gradient-home {
        min-height: 500px;
        padding: 190px 0 0;
    }
    .particles-intro.inline {
        margin-top: 90px;
        margin-left: 20px;
        padding-left: 30px;
    }
    .typed-intro {
        padding-right: 0;
    }
    .f14 {
        font-size: 13px;
    }
    .f17 {
        font-size: 15px;
    }
    .f19 {
        font-size: 17px;
    }
    .f21 {
        font-size: 20px;
    }
    .f25 {
        font-size: 23px;
    }
    .f35 {
        font-size: 27px;
    }
    .f45 {
        font-size: 33px;
    }
    .f55 {
        font-size: 39px;
        letter-spacing: 1px;
    }
    .f65 {
        font-size: 41px;
    }
    .dot {
        width: 5px;
        height: 5px;
    }
    .dots {}
    #particles-home .six_dots {
        width: 25px;
        position: absolute;
        left: 0;
        top: 36px;
    }
    .six_dots .dot {
        margin: 2px;
        float: left;
    }
    .mfp-wrap .work_pic,
    .mfp-wrap .get_detail .fc-content {
        width: 100%;
        float: none;
        position: relative;
        padding: 0;
    }
    .mfp-wrap .get_detail .fc-content {
        top: 0;
        left: 0;
        margin-top: 30px;
        position: relative;
        opacity: 1;
        height: initial;
    }
    .back-to-top {
        width: 55px;
    }
    .mfp-close-btn-in .mfp-close {
        margin-top: 10px;
        opacity: .8;
    }
}

@media only screen and (max-width: 425px) {
    .work .W60 {
        margin-bottom: 130px;
        border-width: 10px;
        width: 70%;
    }
    .work_bg {
        height: 50%;
    }
    .particles-home {
        background-position: 50% 330px;
        background-size: 110px;
    }
    .particles-intro.inline {
        left: 41%;
        margin-top: 70px;
        /* transform: translate(0, 50%); */
        width: 278px;
    }
    .work_bg p {
        padding: 20px 30px 20px 10px;
        width: 160px;
        right: 0;
    }
    .work_bg:hover p span {
        letter-spacing: .5px;
    }
    .work_bg p span:after {
        display: none;
    }
    .work_bg.go_right p {
        right: 0;
        top: -1px;
    }
    .work_bg.go_left p {
        left: 0;
        top: -1px;
    }
    .work_bg p:before {
        display: none;
    }
    .work_bg p:after {
        top: 27px;
        left: 125px;
    }
    .svg_rock {
        max-width: 30px;
        /* margin-top: -50px; */
    }
    #work2 .svg_rock,
    #work4 .svg_rock {
        left: 70%;
    }
    .about-contact .row {
        padding-bottom: 20px;
    }
    .home-contact {
        padding-bottom: 0;
        padding-top: 40px;
    }
    .go_right h3 {
        bottom: -180px;
    }
    .go_left h3 {
        bottom: -180px;
    }
    svg {
        max-width: 200px;
    }
    .work {
        margin-bottom: 100px;
    }
    .mfp-arrow-right {
        transform: scale(.6);
    }
    .mfp-arrow-left {
        transform: scale(.6);
    }
}

@media only screen and (max-width: 375px) {
    .work .W60 {
        margin-bottom: 120px;
        border-width: 8px;
    }
}

@media only screen and (max-width: 320px) {
    .work .W60 {
        margin-bottom: 110px;
    }
    .go_right h3 {
        bottom: -166px;
    }
    .go_left h3 {
        bottom: -166px;
    }
}


/* @media only screen and (max-width: 320px) {} */